@import url('https://fonts.googleapis.com/css?family=Niramit&display=swap:300,400,500,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Niramit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bt_loader {
  left: 0;
  right: 0;
	height: 3px;
  position: fixed;
  top: 0;
  z-index: 99999999999;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #E73C7E, #EE7752);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
}

.bt_loader_2 {
  left: 0;
  right: 0;
	height: 5px;
  position: fixed;
  top: 0;
  z-index: 99999999999;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #E73C7E, #EE7752);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

 